/* Global styles for the entire app
 *
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body,
body #root {
  color: rgba(255, 255, 255, 0.9);
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  background-color: #393939;
  margin: 0;
  overflow: hidden;
}

.content {
  min-height: 100%;
  min-width: 100%;
}

::-webkit-resizer {
  border: 9px solid rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #636363;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4b4b4b;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595959;
}
